{% extends "base.html" %}
{% block content %}

<div class="col-md-12 text-center">
    <h2 class="">Wellcome</h2>
</div>
        <div class="col-md-12">
            <!--<a class="btn btn-primary" role="button" href="{{ url_for('index') }}"> Home </a>-->

            {% if not session.logged_in %}
            <a class="btn btn-warning" role="button" href="{{ url_for('do_admin_login') }}">Log in</a>
            <a class="btn btn-warning" role="button" href="{{ url_for('register') }}">Sign Up</a>
            {% else %}
            <a class="btn btn-warning" role="button" href="{{ url_for('logout') }}">Log out</a>


            {% endif %}

           <br><br>

        </div>

        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>
    </div>

{% endblock %}



